.container{
    display: grid;
    grid-template-columns: 4fr 1fr;
}
.coffee-container{
    display: grid;
    grid-template-columns: repeat(3,1fr);
    gap: 20px;
    padding: 30px;
}
.list-container{
    padding: 20px;
    margin-right: 5px;
    border-radius: 5px;
    height: 420px;
    background-color: rgba(0, 128, 0, 0.247);
}