.item-container{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 10px 0px;
}
.image-icon{
    width: 36px;
    height: 36px;
    border-radius: 50px;
}
.item-name{
    margin: 0px 10px;
}
.remove-btn{
    color: red;
    border: none;
    font-size: medium;
    cursor: pointer;
}
.remove-btn:hover{
    color: white;
    background-color: rgb(255, 0, 0);
}